@inject IModalService ModalService
@inject IAuthService AuthService
@inject ISessionService SessionService
@inject NavigationManager NavigationManager


<div class="auth-modal @modalRender">
    <div class="auth-modal-content ">
        <button class="auth-close-button" @onclick="()=> ModalService.ToggleAuthModalState(false)">&times;</button>
        <div class="auth-modal-body">
            @if (AuthService.GetCurrentSession() != null)
            {
                <div class="auth-logged-user">
                    <span class="auth-username header-hover">@AuthService.GetCurrentSession().Username</span>
                    <span class="auth-logout header-hover" @onclick="()=> Logout()">Wyloguj</span>
                </div>
            }
            else
            {
                <div class="auth-button-container login-button">
                    <button class="auth-button" @onclick="RedirectToRegister">Register</button>
                </div>
                <div class="auth-button-container register-button">
                    <button class="auth-button" @onclick="RedirectToLogin">Login</button>
                </div>
            }
        </div>
    </div>
</div>

@code {

    private string modalRender => ModalService.AuthModalState ? "" : "auth-close-window";

    private async Task Logout()
    {
        AuthService.ClearCurrentSession();
        NavigationManager.NavigateTo("/", forceLoad:true);
    }

    private void RedirectToLogin()
    {
        ModalService.ToggleAuthModalState(false);
        ModalService.RedirectToLogin();
    }

    private void RedirectToRegister()
    {
        ModalService.ToggleAuthModalState(false);
        ModalService.RedirectToRegister();
    }

    protected override void OnInitialized()
    {
        AuthService.OnChange += StateHasChanged;
        ModalService.ModalStateChanged += StateHasChanged;
    }

    public void Dispose()
    {
        AuthService.OnChange -= StateHasChanged;
        ModalService.ModalStateChanged -= StateHasChanged;
    }
}
