@inject ICartService CartService
@inject ISyncLocalStorageService LocalStorage
@implements IDisposable

<div class="icons-container"
<a href="cart" class="icons-option">
    <i class="oi oi-cart"></i>
    <span class="cart-counter">@GetCartItemsCount()</span>
</a>
<a href="login" class="icons-option header-hover">
    <span class="">Zaloguj</span>
</a>
<span class="vertical-line">|</span>
<a href="register" class="icons-option header-hover">
    <span class="">Zarejestruj</span>
</a>
</div>

@code {
    private int GetCartItemsCount()
    {
        var cart = LocalStorage.GetItem<List<CartItem>>("cart");
        return cart != null ? cart.Count : 0;
    }

    protected override void OnInitialized()
    {
        CartService.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        CartService.OnChange -= StateHasChanged;
    }
}
