.logo-container {
    display: flex;
    flex-grow:0;
    align-items: center;
    margin:0 20px 0 0;
}

.logo-image {
    max-width: 65px;
    min-width: 65px;
    margin: 0 5px 0 0;
    background-position: right center;
}

.logo-name {
    display: flex;  
    font-size: 32px;
    color: #FFFFFF;
    font-weight: 800;
    text-decoration: none;
}

.logo-name:hover {
    text-decoration: none;
}
