.logo-container {
    display: flex;
    align-items: center;
    margin-bottom:10px;
}

.logo-name {
    display:flex;
    font-size: 32px;
    color: #FF2260;
    font-weight: bold;
    text-decoration:none;
}

.logo-name:hover {
    text-decoration: none;
}

