@inject IModalService ModalService

<div class="logo-container">
    @if (!ModalService.SidebarModalState)
    {
        <button class="nav-hamburger" @onclick="OpenNav">
            <span class="oi oi-menu"></span>
        </button>
    }
    <img class="logo-image" src="/QuarryByteMascot.png" alt="QuarryByteLogo" />
    <a class="logo-name" href="/" Match="NavLinkMatch.All">QuarryByte</a>
</div>

@code {
    private void OpenNav()
    {
        Console.WriteLine(ModalService.SidebarModalState);
        ModalService.ToggleSidebarModalState(true);
    }

    protected override void OnInitialized()
    {
        ModalService.ModalStateChanged += StateHasChanged;
    }

    public void Dispose()
    {
        ModalService.ModalStateChanged -= StateHasChanged;
    }
}
