.logo-container {
    display: flex;
    flex-grow:0;
    align-items: center;
    margin:0 20px 0 0;
}

.logo-image {
    max-width: 45px;
    min-width: 45px;
    margin: 0 5px 0 0;
    background-position: right center;
}

.logo-name {
    display: flex;  
    font-size: 24px;
    color: #FFFFFF;
    font-weight: 800;
    text-decoration: none;
}

.logo-name:hover {
    text-decoration: none;
}

.nav-hamburger {
    display: flex;
    flex-grow: 0;
    background-color: transparent;
    border: none;
    margin: 0 6px 0 0;
}


@media (min-width:768px) {
    .logo-name {
        font-size: 32px;
    }

    .logo-image {
        max-width: 65px;
        min-width: 65px;
    }

    .nav-hamburger {
        display: none;
    }
}
