.logo-container {
    display: flex;
    align-items: center; 
    justify-content: center;
    padding: 0 20px;
}

.logo-name {
    font-size: 32px;
    color: #FF2260;
    font-weight: bold;
    text-decoration: none;
}

