@inherits LayoutComponentBase
@inject IModalService ModalService
@inject ISessionService SessionService

<div class="page">
    <main>
        <div class="session-info">
            <h3>Session Information</h3>
            <p>Username: @session?.Username</p>
            <p>Session ID: @session?.SessionId</p>
            <p>Token ID: @session?.TokenId</p>
            <p>Last Login Time: @session?.LastLoginTime</p>
        </div>
        <header class="header-container">
            <div class="header-content">
                <Logo />
                <SearchInput />
                <UserNavigation />
                <AuthModal />
            </div>
        </header>
        <nav class="nav-container @navRender">
            <div class="nav-content">
                <NavMenu />
            </div>
        </nav>
        <section class="main-container">
            <div class="main-content">
                @Body
            </div>
        </section>
        <SearchInputModal />
    </main>
</div>

@code {
    private string navRender => ModalService.SidebarModalState ? "nav-mobile" : "";
    private Session? session;

    protected override async Task OnInitializedAsync()
    {
        var serviceResponse = await SessionService.GetSessionAsync();
        if (serviceResponse.Success)
        {
            session = serviceResponse.Data;
        }
    }
}
