@inherits LayoutComponentBase

<div class="page">
    <main>
        <header class="top-row px-4">
            <Search />
            <CartCounter />
        </header>
        <nav class="nav-container">
            <NavMenu />
        </nav>
        <section class="main-container">
            @Body
        </section>
    </main>
</div>
