@inherits LayoutComponentBase

<div class="page">
    <main>
        <header class="header-container">
            <div class="header-content">
            <button class="nav-toggle" @onclick="ToggleNav">
                <span class="oi oi-menu"></span>
            </button>
            <Logo />
            <Search />
            <CartCounter />
            </div>
        </header>
        <nav class="nav-container @navRender">
            <div class="nav-content">
             <NavMenu NavState="navState" />
            </div>
        </nav>
        <section class="main-container">
            <div class="main-content">
                @Body
            </div>
        </section>
    </main>
</div>

@code {
    protected bool navState = false;

    protected string navRender => navState ? "nav-active" : "";

    protected void ToggleNav()
    {
        navState = !navState;
    }
}
