@inherits LayoutComponentBase
@inject INavigationService NavigationService

<div class="page">
    <main>
        <header class="header-container">
            <div class="header-content">
                <Logo />
                <Search />
                <CartCounter />
            </div>
        </header>
        <nav class="nav-container @navRender">
            <div class="nav-content">
                <NavMenu />
            </div>
        </nav>
        <section class="main-container">
            <div class="main-content">
                @Body
            </div>
        </section>
    </main>
</div>

@code {
    private string navRender => NavigationService.NavState ? "nav-mobile" : "";
}
