@inherits LayoutComponentBase

<div class="page">
    <main>
        <header class="header-container">
            <button class="nav-toggle" @onclick="ToggleNavMenu">
                <span class="oi oi-menu"></span>
            </button>
            <Logo />
            <Search />
            <CartCounter />
        </header>
        <nav class="nav-container @NavMenuCssClass">
            <NavMenu />
        </nav>
        <section class="main-container">
            @Body
        </section>
    </main>
</div>



@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "nav-mobile" : "";

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
   }
}