.page {
    display: flex;
    flex-direction: column;
}
    .page::before {
        content: "";
        background-color: #A62B0F;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100vh;
        position: absolute;
        z-index: -1;
    }

.header-container {
    width: 100%;
    padding: 20px 10px;
    background-color: #A62B0F;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content:space-between;
    width: 100%;
    max-width: calc(1200px + 40px);
    margin: 0 auto;
}

.nav-container {
    width: 100%;
    background-color: #741e0a;
    padding: 0 10px;
}

.nav-content {
    display: flex;
    align-items: center;
    max-width: calc(1200px + 40px);
    width:100%;
    margin:0 auto;
}

.main-container {
    width: 100%;
    background-color: #531507;
}

.main-content {
    max-width: calc(1200px + 40px);
    width: 100%;
    margin: 0 auto;
}

.nav-active {
    display: none;
}

.nav-toggle {
    display:block;
}


@media (max-width: 640.98px) {
    /*.header-container:not(.auth) {
        display: none;
    }
   
    .header-container.auth {
        justify-content: space-between;
    }

    .header-container ::deep a, .header-container ::deep .btn-link {
        margin-left: 0;
    }
    */ 
}

@media (min-width:650px){
   
    .header-container {
        display:flex;
    }

        .header-container.auth ::deep a:first-child {
            flex: 1;
            text-align: right;
            width: 0;
        }


    .main-container {
        padding: 24px 32px;
    }

    .nav-toggle {
        display: none;
    }

    .nav-active {
        display: flex;
    }

}
