@inject ICategoryService CategoryService
@inject IModalService ModalService

<div class="nav @navRender">
    <div class="nav-logo">
        <Logo />
        <button @onclick="CloseNav" class="close-button">
            <span class="oi oi-x" aria-hidden="true"></span>
        </button>
    </div>
    <div class="nav-item">
        <NavLink @onclick="CloseNav" class="nav-link" href="" Match="NavLinkMatch.All">
            Home
        </NavLink>
    </div>

    @foreach (var category in CategoryService.Categories)
    {
        <div class="nav-item">
            <NavLink @onclick="CloseNav" class="nav-link" href="@category.Url">
                @category.Name
            </NavLink>
        </div>
    }
</div>

@code {
    private string navRender => ModalService.SidebarModalState ? "nav-mobile" : "";

    private void CloseNav()
    {
        ModalService.ToggleSidebarModalState(false);
    }

    protected override async Task OnInitializedAsync()
    {
        await CategoryService.GetCategories();
        ModalService.ModalStateChanged += StateHasChanged;
    }

    public void Dispose()
    {
        ModalService.ModalStateChanged -= StateHasChanged;
    }
}
