@inject ICategoryService CategoryService

<div class="nav @NavRender">
    <div class="nav-logo">
        <Logo />
        <button @onclick="ToggleNav" class="close-button">
            <span class="oi oi-x" aria-hidden="true"></span>
        </button>
    </div>
    <div class="nav-item">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
           Home
        </NavLink>
    </div>

    @foreach (var category in CategoryService.Categories)
    {
        <div class="nav-item">
            <NavLink class="nav-link" href="@category.Url">
                @category.Name
            </NavLink>
        </div>
    }
</div>

@code {
    [Parameter]
    public bool NavState { get; set; }
    [Parameter]
    public string? NavRender { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await CategoryService.GetCategories();
    }

    private void ToggleNav()
    {
        NavState = !NavState;
        Console.WriteLine(NavRender);
    }
}
