@inject ICategoryService CategoryService

<div class="nav" @onclick="ToggleNavMenu">
    <div class="nav-item px-3">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            <span class="oi oi-home" aria-hidden="true"></span> Home
        </NavLink>
    </div>

    @foreach (var category in CategoryService.Categories)
    {
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="@category.Url">
                @category.Name
            </NavLink>
        </div>
    }
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override async Task OnInitializedAsync()
    {
        await CategoryService.GetCategories();
    }
}
