.product-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
}

.product-card {
    display: flex;
    background-color: #331517;
    cursor:pointer;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.product-image {
    min-width: 80px;
    max-width: 80px;
    padding: 6px;
}

.product-image img {
    width: 100%;
    height: 100%;
 }

.product-details {
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
}

.product-title {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 14px;
    font-weight: bold;
    color: #AF2260;
    text-decoration: none;
    transition: color 0.3s ease;
}

.product-title:hover {
        color: #FF2260;
}

.product-description {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 14px;
    color: #C7D9D2;
    margin-top: 10px;
}

.product-price {
    font-size: 16px;
    color: #E4C59E;
}

@media(min-width:400px) {
    .product-image {
        min-width: 95px;
        max-width: 95px;
    }
}

@media(min-width:600px) {
    .product-list {
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}


@media(min-width:768px) {
    .product-card {
        display: flex;
        flex-direction: column;
    }

    .product-list {
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }

    .product-image {
        min-height: 250px;
        max-height: 250px;
        min-width: 100%;
    }

    .product-details {
        display: flex;
        max-height: 200px;
        -webkit-line-clamp: 5;
    }
}


@media(min-width:992px) {
    .product-list {
        display: grid;
        grid-template-columns: repeat(4,1fr);
    }
}

@media(min-width:1200px) {
    .product-list {
        display: grid;
        grid-template-columns: repeat(4,1fr);
    }
}

@media(min-width:1400px) {
    .product-list {
        display: grid;
        grid-template-columns: repeat(5,1fr);
    }
}
