@inject ICartService CartService
@inject NavigationManager NavigationManager
@inject ISyncLocalStorageService LocalStorage
@inject IModalService ModalService
@inject ISessionService SessionService
@inject IAuthService AuthService
@implements IDisposable

<div class="icons-container">
    <button class="icon-option icon-toggle">
        <i class="oi oi-person" @onclick="() => ModalService.ToggleAuthModalState(true)"></i>
    </button>
    <a href="cart" class="icon-option">
        <img src="/cart.png" class="oi" />
        <span class="cart-counter">@GetCartItemsCount()</span>
    </a>
    <button class="icon-option icon-toggle">
        <i class="oi oi-magnifying-glass" @onclick="() => ModalService.ToggleSearchModalState(true)"></i>
    </button>
    @if (AuthService.GetCurrentSession() != null)
    {
        <div class="auth-logged-user">
            <span class="auth-username header-hover">@AuthService.GetCurrentSession().Username</span>
            <span class="auth-logout header-hover" @onclick="()=> Logout()">Wyloguj</span>
        </div>
    }
    else
    {
        <a href="/user/login" class="auth-option header-hover">
            <span>Zaloguj</span>
        </a>
        <span class="vertical-line">|</span>
        <a href="/user/register" class="auth-option header-hover">
            <span>Zarejestruj</span>
        </a>
    }
</div>

@code {
    private int GetCartItemsCount()
    {
        var cart = LocalStorage.GetItem<List<CartItem>>("cart");
        return cart != null ? cart.Count : 0;
    }

    private async Task Logout()
    {
        AuthService.ClearCurrentSession();
        NavigationManager.NavigateTo("/", forceLoad: true);
    }

    protected override void OnInitialized()
    {
        AuthService.OnChange += StateHasChanged;
        ModalService.ModalStateChanged += StateHasChanged;
        CartService.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        AuthService.OnChange -= StateHasChanged;
        ModalService.ModalStateChanged -= StateHasChanged;
        CartService.OnChange -= StateHasChanged;
    }
}
