.icons-container{
    display:flex;
    align-items:center;
    flex-grow:0;
}

.icon-option {
    display: flex;
    align-items: center;
    justify-content:center;
    text-decoration: none;
    color: #FFFFFF;
    padding: 0 6px;
    border: none;
    background: transparent;
}

.icon-option:nth-child(2) {
    position: relative;
}

.cart-counter {
    display:flex;
    justify-content:center;
    font-size:12px;
    font-weight:600;
    border-radius:50%;
    min-width:16px;
    max-height:16px;
    background-color: #E00061;
    position: absolute;
    right: 6px;
    bottom: -4px;
    text-decoration: none;
}

img{
    width:24px;
    height:24px;
    object-fit:cover;
}

.oi{
    color:#FFFFFF;
}

.oi:hover {
    color: #E19C4E;
}

.vertical-line {
    display: none;
}

.auth-option {
   display:none;
}

.header-hover:hover {
    color: #E19C4E;
}



@media (min-width: 768px){
    .auth-option {
        display: flex;
        text-decoration: none;
        color: #FFFFFF;
        margin: 0 0 0 10px;
    }

    .vertical-line {
        display:block;
        color: #FFFFFF;
        margin: 0 0 0 10px;
        cursor: default;
    }

    .icon-toggle {
        display: none;
    }


}

@media (min-width: 400px){
    .icons-container {
        margin: 0 0 0 20px;
    }

    .icon-option {
        padding: 0 10px;
    }
}