﻿.cart-container {
    display: flex;
    padding: 10px 0;
}

.cart-product-image {
    min-width: 80px;
    max-width: 80px;
 
}

.cart-product-image img {
    width:100%;
    height:100%;
}

.cart-product-name {
    flex-grow: 1;
    padding: 6px;
}

.cart-product-name a {
        text-decoration: none;
        color: #FFFFFF;
}

.cart-product-price {
    font-weight: 600;
    text-align: right;
    color:#FFFFFF;
}

h3{
    color:#FFFFFF;
    font-weight:bold;
}

.btn-delete {
    background: none;
    border: none;
    padding: 0px;
    color: red;
    font-size: 12px;
}

    .btn-delete:hover {
        text-decoration: underline;
    }

.input-quantity {
    width: 70px;
}
