@page "/login"

<PageTitle>Login</PageTitle>

<div class="login-container">
    <h3 class="login-title">Log in to Your Account</h3>
    <form>
        <div class="login-input">
            <label for="email">Email address</label>
            <input type="email" class="login-field" id="email" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="login-input">
            <label for="password">Password</label>
            <input type="password" class="login-field" id="password" placeholder="Enter Password">
        </div>
        <button type="submit" class="login-button">Submit</button>
    </form>
</div>

@code {
   
}
