@page "/user/login"
@inject IUserService UserService
@inject NavigationManager Navigation

<PageTitle>Login</PageTitle>

<EditForm Model="loginModel" OnValidSubmit="HandleLogin">
    <div class="login-container">
        <h3 class="login-title">Log in to Your Account</h3>
            <div class="login-input">
                <label for="email">Email address</label>
                <input @bind="loginModel.Email" type="email" class="login-field" id="email" placeholder="Enter email">
            </div>
            <div class="login-input">
                <label for="password">Password</label>
                <input @bind="loginModel.Password" type="password" class="login-field" id="password" placeholder="Enter Password">
            </div>
            <button type="submit" class="login-button">Submit</button>
    </div>
</EditForm>

@code {
    private LoginModel loginModel = new LoginModel();

    private async Task HandleLogin()
    {
        var request = new UserLoginRequest
            {
                Email = loginModel.Email,
                Password = loginModel.Password
            };

        var response = await UserService.LoginAsync(request);
        if (response.Success)
        {
            Navigation.NavigateTo("/");
        }
        else
        {
        }
    }

    public class LoginModel
    {
        public string Email { get; set; }
        public string Password { get; set; }
    }
}
