@page "/user/login"
@using System.ComponentModel.DataAnnotations
@inject IUserService UserService
@inject NavigationManager NavigationManager
@inject ISessionService SessionService
@inject IAuthService AuthService

<PageTitle>Login</PageTitle>

<EditForm Model="loginModel" OnValidSubmit="HandleLogin">
    <DataAnnotationsValidator />
    <div class="login-container">
        <h3 class="login-title">Login to your account</h3>
        <div class="login-input">
            <label for="email">Email Adress</label>
            <input @bind="loginModel.Email" type="email" class="login-field" id="email" placeholder="Enter email" />
            <ValidationMessage For="@(() => loginModel.Email)" />
        </div>
        <div class="login-input">
            <label for="password">Password</label>
            <input @bind="loginModel.Password" type="password" class="login-field" id="password" placeholder="Enter password" />
            <ValidationMessage For="@(() => loginModel.Password)" />
        </div>
        <button type="submit" class="login-button">Login</button>
        @if (!string.IsNullOrEmpty(error))
        {
            <div class="error-message">@error</div>
        }
    </div>
</EditForm>

@code {
    private LoginModel loginModel = new LoginModel();
    private string error;

    protected override void OnInitialized()
    {
        AuthService.OnChange += StateHasChanged;
    }

    private async Task HandleLogin()
    {
        error = null;
        var request = new UserLoginRequest
            {
                Email = loginModel.Email,
                Password = loginModel.Password
            };

        var response = await UserService.LoginAsync(request);
        if (response.Success)
        {
            var serviceResponse = await SessionService.GetSessionAsync();
            if (serviceResponse.Success)
            {
                AuthService.SetCurrentSession(serviceResponse.Data);
                NavigationManager.NavigateTo("/");
            }
            else
            {
                error = serviceResponse.Message;
            }
        }
        else
        {
            error = response.Message;
        }
    }

    private class LoginModel
    {
        [Required(ErrorMessage = "Email is required")]
        [EmailAddress(ErrorMessage = "Invalid email format")]
        public string Email { get; set; }
        [Required(ErrorMessage = "Password is required")]
        public string Password { get; set; }
    }
}
