@page "/user/register"
@inject IUserService UserService
@inject NavigationManager Navigation

<PageTitle>Register</PageTitle>

<EditForm Model="registerModel" OnValidSubmit="HandleRegister">
    <div class="register-container">
        <h3 class="register-title">Create account</h3>
        <div class="register-input">
            <label for="email">Email address</label>
            <input @bind="registerModel.Email" type="email" class="register-field" id="email" placeholder="Enter email">
        </div>
        <div class="register-input">
            <label for="password">Password</label>
            <input @bind="registerModel.Password" type="password" class="register-field" id="password" placeholder="Enter Password">
        </div>
        <div class="register-input">
            <label for="name">Name</label>
            <input @bind="registerModel.Name" type="text" class="register-field" id="name" placeholder="Enter name">
        </div>
        <button type="submit" class="register-button">Submit</button>
    </div>
</EditForm>


@code {
    private RegisterModel registerModel = new RegisterModel();

    private async Task HandleRegister()
    {

        var request = new UserRegistrationRequest
            {
                Email = registerModel.Email,
                Password = registerModel.Password,
                Name = registerModel.Name,
                IsAdmin = registerModel.IsAdmin
            };

        var response = await UserService.RegisterAsync(request);
        if (response.Success)
        {
            Navigation.NavigateTo("/");
        }
    }

    public class RegisterModel
    {
        public string Email { get; set; }
        public string Password { get; set; }
        public string RepeatPassword { get; set; }
        public string Name { get; set; }
        public bool IsAdmin { get; set; }
    }
}
